<h1>Definitions!</h1>

#if ($definitions)
  <ul>
    #foreach ($definition in $definitions)
      <li>Meaning: $definition.getMeaning()</li>
    #end
  </ul>
#else
  <p>No Definitions!</p>
#end

<a href="/definitions/new">Add New Definition</a>
